development:
  database: scrapper
  username: root
  host: localhost
  adapter: mysql

production:
  database: emissions_scrapper
  username: admin
  password: maybemongo
  adapter: mysql

test:
  database: emissions_scrapper
  username: admin
  password: maybemongo
  adapter: mysql
